
{% extends main.html %}
{% block body %}
    
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
    <h1> {{ header_text }} </h1>
    <p> El box de Zefira :) Hola {{ user }} </p>
	
	{% include "handle2.html" %}
	</div>
	<div id="span10">
    <h2> Beneficios Disponibles </h2>
    
	{% if not benefits %}
	<p> No estas siguiendo a ninguna empresa o las que estas siguiendo no han publicado nada aun.</p><p> Enterate quienes estan y que estan publicando <a href="/companies"> Aqui</a></p>
	{% end %}
	{% if benefits %}
	{% for benefit in benefits %}
	{{ modules.Benefit(benefit) }}
	
	{% end %}
    {% end %}
	</div>
    
	</div>
</div>
	
	
{% end %}	
 
